!!!
%html
  %head
    %title mrmicahcooper
    - if home_page?
      = stylesheet_link_tag 'home'
    - else
      = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Karla:400,700|Duru+Sans'
    = javascript_include_tag 'application'
    = yield :stylesheet
    = csrf_meta_tag
    %meta(name="viewport" content="width=device-width, initial-scale=1")

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35620015-1']);
      _gaq.push(['_setDomainName', 'mrmicahcooper.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  %body
    #admin
      - if admin_signed_in?
        = link_to 'sign out', :sign_out
        = link_to '+ add post', :new_blog
    #bomb
    %header#header
      = link_to root_path do
        %h1<>
          M
          %span<> i
          c
          %span<> a
          h Co
          %span<> o
          p
          %span<> e
          r
      %nav.social_links
        = link_to "Hashrocket", "http://hashrocket.com/people/micah-cooper", class: "hashrocket"
        = link_to "Twitter", "http://twitter.com/mrmicahcooper", class: "twitter"
        = link_to "Github", "http://github.com/mrmicahcooper", class: "github"
      %nav
    %section#content
      = yield
