!!!
%html
  %head
    %title mrmicahcooper
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Karla:400,700'
    = javascript_include_tag 'application'
    = yield :stylesheet
  %body
    %header
      .sign_in
        = link_to "sign in", "#"
      #main
        %a{ href: root_path }
          %h1<>
            M
            %span<> i
            c
            %span<> a
            h Co
            %span<> o
            p
            %span<> e
            r
        %nav.social_links
          = link_to "Hashrocket", "http://hashrocket.com/people/micah-cooper", class: "hashrocket"
          = link_to "Twitter", "http://twitter.com/mrmicahcooper", class: "twitter"
          = link_to "Github", "http://github.com/mrmicahcooper", class: "github"
        %nav
          = link_to "Photos", "#"
          = link_to "Blog", "#"
    %section
      = yield
